body, html {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

html, body, #app, .main-layout {
    height: 100%;
    font-family: "Arial";
}

body {
    background-color: white;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

//Login
.login-back {
    background: $gray-1;
    width: 100%;
    height: 100%;
}

.login {
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    width: auto;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login_form_items {
    padding-left: 30px;
    padding-right: 30px;
    width: 350px;
}

.title {
    font-size: 150px;
    color: $indigo;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-icon {
    color: $gray-4;
}

//Layout
.img-dash {
    width: 53px;
    margin-left: 3%;
}

.el-header {
    background-color: $indigo;
    height: 12%;
    z-index: 1;
    top: 0;
    left: 0;
    z-index: 1;
}

.logout {
    border: none !important;
    background: transparent !important;
    color: white !important;
}

.logout:hover {
    background: $indigo !important;
    color: white !important;
}

.logout:focus {
    color: white !important;
}

.el-menu-layout {
    background: $gray-1 !important;
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px !important;
}

.menu-icon {
    width: 25%;
}

.el-menu-item {
    height: 45px !important;
    padding-right: 30% !important;
    padding-left: 10% !important;
    background: $gray-1 !important;

    .hover {
        background: $indigo !important;
        color: $gray-6;
    }

    .is-active {
        background: $indigo !important;
        color: $gray-6;
    }
}

.el-aside {
    width: 200px !important;
    height: 100% !important;
}

.menu-label {
    padding-right: 10%;
    padding-left: 10%;
    vertical-align: center;
}

// Buttons
.el-button {
    border-radius: 10px !important;;

    &.el-button--warning {
        background-color: $orange !important;
        border-color: $orange !important;
        color: white !important;

        &:hover {
            background-color: lighten($orange, 10) !important;
            border-color: lighten($orange, 10) !important;
            color: white !important;
        }

        &:focus {
            background-color: lighten($orange, 10) !important;
            border-color: lighten($orange, 10) !important;
            color: white !important;
        }
    }

    &.el-button--primary {
        background: $indigo;
        border-color: $indigo;
        color: white;

        &:hover {
            background-color: lighten($indigo, 10);
            border-color: lighten($indigo, 10);
            color: white;
        }

        &:focus {
            background-color: lighten($indigo, 10);
            border-color: lighten($indigo, 10);
            color: white;
        }
    }

    &.el-button--info {
        background: $gray_4;
        border-color: $gray_4;
        color: white;

        &:hover {
            background-color: lighten($gray_4, 5);
            border-color: lighten($gray_4, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($gray_4, 5);
            border-color: lighten($gray_4, 5);
            color: white;
        }
    }
    &.el-button--danger {
        background: $red;
        border-color: $red;
        color: white;

        &:hover {
            background-color: lighten($red, 5);
            border-color: lighten($red, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($red, 5);
            border-color: lighten($red, 5);
            color: white;
        }
    }
    &.el-button--success {
        background: $green;
        border-color: $green;
        color: white;

        &:hover {
            background-color: lighten($green, 5);
            border-color: lighten($green, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($green, 5);
            border-color: lighten($green, 5);
            color: white;
        }
    }
}
